body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid lightgrey; */
  border-radius: 10px;
  min-width: 300px;
  box-shadow: 5px 5px 10px 1px gray;
}
.title{
  font-size: 1.3rem;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
.edit{
  font-size: 1.3rem;
  color: green;
}
.delete{
  font-size: 1.3rem;
  color: red;
}

.add-task{
  margin: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border-radius: 10px;
}