body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-height: 600px;
  overflow-y: scroll;
}

/* NavBAr component */
.nav {
  background-color: chocolate;
  width: 100vw;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
  color: white;
  font-weight: 900;
  position: relative;
  text-align: center;
}

#home-btn {
  position: absolute;
  top: 30%;
  right: 50px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}

#home-btn a {
  color: white;
}



/* Read component */

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  /* border:  */
  /* border-radius: 10px; */
  min-width: 300px;
  width: 70vw;
  /* box-shadow: 5px 5px 10px 1px gray; */
}

.title {
  font-size: 1.3rem;
  padding-right: 20px;
  display: flex;
}

.s-no {
  font-size: 1rem;
  line-height: 1.5rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(0.98);
}

.edit {
  font-size: 1.3rem;
  color: green;
}

.done {
  font-size: 1.3rem;
  color: red;
}

.add-task {
  margin: 10px;
  padding: 10px 20px;
  background-color: green;
  border-radius: 10px;
  color: white;
}

.add-task a {
  color: white;
}


/* create component */

#task-title {
  width: 30vw;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid grey;
}

#task-title:focus {
  outline: none;
}